In [45]:
import pandas as pd
import numpy as np # data pre-processing

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px # data visualization

import warnings
warnings.filterwarnings("ignore") # additional

# heart failure prediction with 90% accuracy

In [46]:
df_heart = pd.read_csv('heart.csv')
df_heart

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [47]:
df_heart.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0

In [48]:
df_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [49]:
df_heart['Age'].groupby(df_heart['Sex']).value_counts()

Sex  Age
F    54     15
     51     11
     62     10
     43      9
     48      9
            ..
M    77      2
     28      1
     31      1
     33      1
     76      1
Name: Age, Length: 91, dtype: int64

In [50]:
df_heart.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [51]:
for i in df_heart.columns:
    print(i," :  ",df_heart[i].unique())

Age  :   [40 49 37 48 54 39 45 58 42 38 43 60 36 44 53 52 51 56 41 32 65 35 59 50
 47 31 46 57 55 63 66 34 33 61 29 62 28 30 74 68 72 64 69 67 73 70 77 75
 76 71]
Sex  :   ['M' 'F']
ChestPainType  :   ['ATA' 'NAP' 'ASY' 'TA']
RestingBP  :   [140 160 130 138 150 120 110 136 115 100 124 113 125 145 112 132 118 170
 142 190 135 180 108 155 128 106  92 200 122  98 105 133  95  80 137 185
 165 126 152 116   0 144 154 134 104 139 131 141 178 146 158 123 102  96
 143 172 156 114 127 101 174  94 148 117 192 129 164]
Cholesterol  :   [289 180 283 214 195 339 237 208 207 284 211 164 204 234 273 196 201 248
 267 223 184 288 215 209 260 468 188 518 167 224 172 186 254 306 250 177
 227 230 294 264 259 175 318 216 340 233 205 245 194 270 213 365 342 253
 277 202 297 225 246 412 265 182 218 268 163 529 100 206 238 139 263 291
 229 307 210 329 147  85 269 275 179 392 466 129 241 255 276 282 338 160
 156 272 240 393 161 228 292 388 166 247 331 341 243 279 198 249 168 603
 159 190 185 290 212 231 222 235 320 187 266 287 404 312 251 328 285 280
 192 193 308 219 257 132 226 217 303 298 256 117 295 173 315 281 309 200
 336 355 326 171 491 271 274 394 221 126 305 220 242 347 344 358 169 181
   0 236 203 153 316 311 252 458 384 258 349 142 197 113 261 310 232 110
 123 170 369 152 244 165 337 300 333 385 322 564 239 293 407 149 199 417
 178 319 354 330 302 313 141 327 304 286 360 262 325 299 409 174 183 321
 353 335 278 157 176 131]
FastingBS  :   [0 1]
RestingECG  :   ['Normal' 'ST' 'LVH']
MaxHR  :   [172 156  98 108 122 170 142 130 120  99 145 140 137 150 166 165 125 160
 164 138 178 112 118 127 114 154 155  87 148 100 168 184 121 153 134  96
 174 175 144  82 135 115 128 116  94 110  92 180 152 124 106 185 139 190
 146 158 132 176 119 188 162 105  90 136 167 129 102 143 103  91 126  93
 131 149 123 182 141  77 109 133 179 113 104  95  72  97 117  86  63 157
  83  60  70 163  67  78  84 111  80 107 161  69  88  73 159 151 181 186
 177 173 169 171 147  71 192 195 194 187 202]
ExerciseAngina  :   ['N' 'Y']
Oldpeak  :   [ 0.   1.   1.5  2.   3.   4.   0.5  2.5  5.   0.8  0.7  1.4  2.1  0.4
  0.2  1.7  2.2  0.1  1.6  1.3  0.3  1.8  2.6 -0.9  2.8 -2.6 -1.5 -0.1
  0.9  1.1  2.4 -1.  -1.1 -0.7 -0.8  3.7  1.2 -0.5 -2.   1.9  3.5  0.6
  3.1  2.3  3.4  3.6  4.2  3.2  5.6  3.8  2.9  6.2  4.4]
ST_Slope  :   ['Up' 'Flat' 'Down']
HeartDisease  :   [0 1]

In [52]:
df_heart.loc[df_heart['Sex']=="M",'Sex']=0
df_heart.loc[df_heart['Sex']=='F','Sex']=1

df_heart.loc[df_heart['ChestPainType']=='TA','ChestPainType']=0
df_heart.loc[df_heart['ChestPainType']=='ATA','ChestPainType']=1
df_heart.loc[df_heart['ChestPainType']=='NAP','ChestPainType']=2
df_heart.loc[df_heart['ChestPainType']=='ASY','ChestPainType']=3

df_heart.loc[df_heart['RestingECG']=='ST','RestingECG']=0
df_heart.loc[df_heart['RestingECG']=='Normal','RestingECG']=1
df_heart.loc[df_heart['RestingECG']=='LVH','RestingECG']=2

df_heart.loc[df_heart['ExerciseAngina']=='N','ExerciseAngina']=0
df_heart.loc[df_heart['ExerciseAngina']=='Y','ExerciseAngina']=1

df_heart.loc[df_heart['ST_Slope']=='Down','ST_Slope']=1
df_heart.loc[df_heart['ST_Slope']=='Flat','ST_Slope']=2
df_heart.loc[df_heart['ST_Slope']=='Up','ST_Slope']=3

In [53]:
df_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [54]:
df_heart['Sex']=df_heart['Sex'].astype(int)
df_heart['RestingECG']=df_heart['RestingECG'].astype(int)
df_heart['ST_Slope']=df_heart['ST_Slope'].astype(int)
df_heart['ChestPainType']=df_heart['ChestPainType'].astype(int)
df_heart['ExerciseAngina']=df_heart['ExerciseAngina'].astype(int)

In [55]:
df_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    int32
 2   ChestPainType   918 non-null    int32
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    int32
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    int32
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    int32
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int32(5), int64(6)
memory usage: 68.3 KB

In [56]:
df_heart.corr()['HeartDisease']

Age               0.282039
Sex              -0.305445
ChestPainType     0.471354
RestingBP         0.107589
Cholesterol      -0.232741
FastingBS         0.267291
RestingECG       -0.057384
MaxHR            -0.400421
ExerciseAngina    0.494282
Oldpeak           0.403951
ST_Slope         -0.558771
HeartDisease      1.000000
Name: HeartDisease, dtype: float64

In [57]:
X=df_heart.drop(['HeartDisease','RestingECG','RestingBP'],axis=1)
Y=df_heart['HeartDisease']

In [58]:
X

,Age,Sex,ChestPainType,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,0,1,289,0,172,0,0.0,3
1,49,1,2,180,0,156,0,1.0,2
2,37,0,1,283,0,98,0,0.0,3
3,48,1,3,214,0,108,1,1.5,2
4,54,0,2,195,0,122,0,0.0,3
...,...,...,...,...,...,...,...,...,...
913,45,0,0,264,0,132,0,1.2,2
914,68,0,3,193,1,141,0,3.4,2
915,57,0,3,131,0,115,1,1.2,2
916,57,1,1,236,0,174,0,0.0,2
917,38,0,2,175,0,173,0,0.0,3

In [59]:
Y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [60]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.20,random_state=40)

In [61]:
X_train

,Age,Sex,ChestPainType,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
658,46,0,1,197,1,156,0,0.0,3
501,63,0,3,308,0,138,1,2.0,2
907,44,0,3,169,0,144,1,2.8,1
366,61,0,3,0,0,117,1,2.0,2
812,54,1,2,214,0,158,0,1.6,2
...,...,...,...,...,...,...,...,...,...
440,52,0,2,0,0,180,0,3.0,3
165,46,0,0,272,1,175,0,2.0,2
7,54,0,1,208,0,142,0,0.0,3
219,29,0,1,263,0,170,0,0.0,3
326,45,0,2,0,0,138,0,-0.1,3

In [62]:
y_test

342    1
830    0
455    0
745    1
591    0
      ..
428    1
800    0
699    0
371    1
474    0
Name: HeartDisease, Length: 184, dtype: int64

In [63]:
# from sklearn.ensemble import RandomForestClassifier

In [64]:
# rfc=RandomForestClassifier(max_depth=8,n_estimators=150)

In [65]:
# rfc.fit(X_train,y_train)
# pred2=rfc.predict(X_test)

In [66]:
# pred2

In [67]:
from sklearn.metrics import accuracy_score

In [68]:
# accuracy_score(pred2,y_test)

In [69]:
import xgboost as xgb

In [70]:
xgb_model = xgb.XGBClassifier(colsample_bytree=0.43,learning_rate=0.0005,max_depth=8,n_estimators=250)

In [71]:
xgb_model.fit(X_train,y_train)
pred1=xgb_model.predict(X_test)
pred1

[13:09:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

array([1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0], dtype=int64)

In [72]:
accuracy_score(pred1,y_test)

0.8913043478260869

In [73]:
X_test.head(15)

,Age,Sex,ChestPainType,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
342,61,0,3,0,1,113,0,1.4,2
830,41,1,1,204,0,172,0,1.4,3
455,59,0,3,0,0,131,1,1.5,3
745,63,1,3,269,0,169,1,1.8,2
591,58,0,3,213,0,110,0,0.0,3
527,61,0,1,283,0,135,0,0.3,3
411,54,0,3,0,1,150,0,1.5,2
194,41,1,1,184,0,180,0,0.0,3
277,52,0,3,223,0,126,1,1.5,2
568,38,0,3,289,0,105,1,1.5,1
204,56,0,1,184,0,100,0,0.0,3
287,53,0,1,181,0,132,0,0.0,3
335,62,0,0,0,1,134,0,-0.8,2
902,58,0,1,220,0,144,0,0.4,2
141,50,0,3,341,0,125,1,2.5,2

In [74]:
xgb_model.predict(X_test.head(15))

array([1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1], dtype=int64)

In [75]:
X_test.iloc[2:3]

,Age,Sex,ChestPainType,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
455,59,0,3,0,0,131,1,1.5,3

In [76]:
xgb_model.predict(X_test.iloc[2:3])

array([1], dtype=int64)

In [77]:
X_test.columns

Index(['Age', 'Sex', 'ChestPainType', 'Cholesterol', 'FastingBS', 'MaxHR',
       'ExerciseAngina', 'Oldpeak', 'ST_Slope'],
      dtype='object')

In [78]:
def predict_class(Age, Sex, ChestPainType, Cholesterol, FastingBS, MaxHR, ExerciseAngina, Oldpeak, ST_Slope):
    data = np.array([[Age, Sex, ChestPainType, Cholesterol, FastingBS,MaxHR, ExerciseAngina, Oldpeak, ST_Slope]])
    prediction = xgb_model.predict(data)
    print("Predicted class is :",prediction[0])
    return prediction[0]

In [79]:
predict_class(59,1,3,204,0,170,1,1.5,2)

Predicted class is : 1

1

In [80]:
import pickle
import os
model_folder_path = 'pickel_file'
if not os.path.exists(model_folder_path):
    os.mkdir(model_folder_path)
    
pickle.dump(xgb_model,open(f'{model_folder_path}/pickel_file.pkl','wb'))

In [81]:
import json
column_names = list(X_test.columns)

column = {"column_names":column_names}

with open('column.json','w') as f:
    f.write(json.dumps(column))